#
# .gitignore
# tower-backend
#
# Created by Jean-Pierre Höhmann on 2023-04-17.
# Copyright © 2024 valo.media GmbH. All rights reserved.
#

#
# Build artefacts
#

build/
build-test/

#
# Dependencies
#

node_modules/

#
# Editors
#

/.idea

#
# Local configuration
#

# Local environment.
#
.env.local
.env.*.local

# Deployment secrets.
#
.secrets*
