#
# .gitignore
# tower-backend
#
# Created by Jean-Pierre Höhmann on 2023-04-17.
#
#

#
# Build artefacts
#

build/

#
# Dependencies
#

node_modules/

#
# Editors
#

/.idea

#
# Local configuration
#

.env.local
